html, body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

footer {
  align-items: center;
  background-color: #000;
  color: #fff;
  display: flex;
  height: 200px;
}

footer ul {
  display: flex;
  flex-direction: column;
  font-size: 25px;
  list-style-type: none;
  margin: 0 0 0 2%;
  padding: 0;
}

footer ul li a {
  border-bottom: 1px solid #fff;
  color: #fff;
  padding-bottom: 3px;
  text-decoration: none;
}

header {
  background-image: url(images/dyrus.gif);
  background-size: cover;
  background-position: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header div {
  align-items: center;
  color: #00e3ff;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  font-size: 2.5em;
  font-weight: bold;
  justify-content: center;
}

header div p {
  margin: 0;
}

nav {
  align-items: center;
  display: flex;
  font-size: 18px;
  justify-content: space-between;
  height: 50px;
  position: fixed;
  width: 100%;
}

nav p {
  margin-right: 5%;
}

nav ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  width: 30%;
  margin: 0;
  padding: 0;
}

nav ul li a, nav p a {
  color: #fff;
  transition: all ease 1s;
  text-decoration: none;
}

.owner nav ul li a, .owner nav p a {
  color: #000;
}

nav ul li a:hover {
  color: #e2e1e1;
}

section {
  display: flex;
  flex-flow: wrap;
}

section a {
  color: #fff;
  text-decoration: none;
  width: 50%;
}

section a div {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  height: 500px;
  position: relative;
  width: 100%;
}

section a div p {
  font-size: 25px;
  position: relative;
  margin: 0 0 0 5%;
  z-index: 2;
}

section a div p:first-of-type {
  margin-top: 10%;
}

section a div .desc {
  opacity: 0;
  transition: all ease .5s;

}

section a div::before {
  background-color: #000;
  content: '';
  height: 100%;
  left: 0px;
  opacity: 0;
  position: absolute;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  top: 0px;
  width: 100%;
  z-index: 1;
}

section a div:hover > .desc {
  opacity: 1;
}

section a div:hover::before {
  opacity: 0.5;
}

.active {
  padding-bottom: 5px;
  border-bottom: 1px solid #fff;
}

.owner {
  background-color: #a7a5a5;
  display: flex;
  flex-direction: column;
}

.owner div {
  font-size: 30px;
  margin-left: 4%;
  margin-top: 4%;
  width: 33%;
}

.owner div h2 {
  border-bottom: 1px solid #000;
  display: inline-block;
  margin: 9% 0 0 0;
  padding-bottom: 5px;
}

.owner nav {
  background-color: #a7a5a5;
}

.owner img {
  align-self: center;
  margin: 5% 0;
  width: 90%;
}

/*responsive design*/

@media screen and (max-width: 800px) {

  header div {
    text-align: center;
    font-size: 2em;
    font-weight: normal;
  }

  section {
    flex-direction: column;
  }

  section a div, section a {
    width: 100%;
  }

  nav ul {
    width: 50%;
  }

  .owner div {
    width: 95%;
  }

  .owner div h2 {
    margin: 15% 0 0 0;
  }
}
